html, body {
  margin: 0px;
    background: url(sakal.png);
/*  padding: 10px;*/
    font-family: sans-serif;
    overflow: hidden;
    color : black;
        background-size: 100%;

}
.bg{
    width : 100%;
    height : 130vh;
    position: absolute;
    background: lightgray;
    display: none;
}
/*  */
.message{
    background: white;
    padding : 5vh;
    width : 84%;
    border-radius: 20px;
/*   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);*/
    margin-top: 8%;
    margin-left : 1.5%;
    overflow: hidden;
}

#msg{
    color : #525154;
    line-height: 24px;
    font-size: 17px;
}

a{
    color : black;
    text-decoration: none;
    border : 1px solid lightgray;
    border-radius: 10px;
        padding : 8px;
            padding-left :12px;
    margin-left: 10%;
    font-size: 20px;
}

#sp{
    margin-left: -2%;
}

#photo{
    width : 120%;
   margin-top: -5vh;
    height : 40vh;
    margin-left: -10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
/*    margin-left : 3%;*/
    left :0;
    
}

.bg{
/*   display: none;*/
    position: absolute;
    top : 0;
    z-index: 2;
}
#noT{
    display : none;
    
}
.iam{
    background: white;
    height : 42vh;
    width : 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;    
/*    margin-top: 50vh;*/
    padding-top : 2vh;
    overflow: scroll;
    padding-bottom: 100px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
    -webkit-animation-name : in-top;
    -webkit-animation-duration : 1s;
/*        -webkit-animation-deklay : 1s;*/

}

.iam:empty{
    background: red;
}
.iam::-webkit-scrollbar{
    display:none;
}
.task{
    width :80%;
    margin-left: 4%;
    padding : 2vh;
   background: linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(207,203,203,1) 34%, rgba(208,202,202,1) 53%, rgba(215,214,214,1) 61%, rgba(230,229,229,1) 75%, rgba(236,232,232,1) 100%, rgba(255,255,255,1) 100%);
    margin-top: 2vh;
    color : ;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
/*    color : white;*/
/*    border-left : 1vh solid black;*/
    font-size: 22px
}




.dis{
    color : red;
    text-align: center;
    margin-top: 30%;
}

.non{
    text-align: center;
    font-size: 30px;
    -webkit-animation-name : in-spin;
    -webkit-animation-duration : 15s;
    margin-top: 20vh;
    padding-bottom: 25vh;
        padding-top: 25vh;
position: absolute;
    bottom : 2;
    margin-top: 0vh;
    width : 100%;
    background: rgba(0,0,0,0.01);
/*    display : none;*/
}

.positioner{
    width : 25%;
    height : 0.5vh;
    background: lightgray;
    margin-left: 37.5%;
    border-radius: 20%;
}

#offl{
    margin-top: 0px;
    background: rgba(0,0,0,0.5);
    height : 100%;
    color : black;
    padding-top : 40vh;
    top : 0;
    position: absolute;
    width : 100%;
}

.bbg{
    background: white;
    width :80%;
    height : fit-content;
    margin-top: -12vh;
    border-radius: 10px;
        margin-left : 10%;
    padding-bottom : 5vh;
   
/*  transform: rotate(190deg);*/
/*    transform: rotate3d(30deg)*/
}
@keyframes in-left{
    from{margin-left: -100%}
    to{margin-left: 0%}
}

@keyframes in-right{
    from{margin-left: 100%; color : white}
    to{margin-left: 0%; color : gray}
}

@keyframes in-right-one{
    from{margin-left: 100%; color : white}
    to{margin-left: 50%; color : gray}
}

@keyframes in-top{
    from{margin-top: 100vh; color : white; margin-right : 100%}
    to{margin-top: 0vh; color : gray; margin-right : 0%}
}
@keyframes in-bottom{
    from{margin-top: -100%; color : white}
    to{margin-top: 0%; color : white}
}

@keyframes in-color{
    from{color : white}
    to{ color : gray}
}
@keyframes in-height{
    from{height : 0vh}
    to{ height : 20vh}
}

button{
    outline: none;
}
@keyframes in-spin{
    0%{color : blue}
    30%{ color : red}
    60%{ color : green}
    90%{ color : hotpink}
    100%{ color : gold}


}

@keyframes in-spin-one{
    from{color : red}
    to{ color : green}
}

@keyframes in-spin-right{
    from{ transform: rotate(0deg)}
    to{  transform: rotate(180deg)}
}

.add{
    position: absolute;
    bottom : 0;
    margin-bottom: 2vh;
    right : 0;
    margin-right: 5%;
    color : white;
    background: royalblue;
    border : 2px solid white;;
    border-radius: 40px;
    font-size: 25px;
    padding: 10px;
    padding-left: 17px;
        padding-right: 17px;
/*            box-shadow: 0px 0px 20px 2px red;*/
    transition: .5s ease-in-out;
    -webkit-animation-name : in-spin-right;
    -webkit-animation-duration : .8s;
    z-index: 5;

}
.add1{
    position: absolute;
    bottom : 0;
    margin-bottom: 2vh;
    right : 0;
    margin-right: 5%;
    color : white;
    background: royalblue;
    border : 2px solid white;;
    border-radius: 40px;
    font-size: 25px;
    padding: 10px;
    padding-left: 17px;
        padding-right: 17px;
/*            box-shadow: 0px 0px 20px 2px red;*/
    transition: .5s ease-in-out;
    -webkit-animation-name : in-spin-right;
    -webkit-animation-duration : .8s;
    z-index: 6;
    display : none;

}

/*
.add:hover{
   background:  ;
    border-radius: 0px;
}
*/

.page{
    position: absolute;
    top:0;
    height : 100vh;
    width : 100%;
    background: white;
    display : none;
    -webkit-animation-name : in-top-right;
    -webkit-animation-duration : .8s;
    z-index: 10;
}


#cnt{
    margin-top: 40vh;
    width : 90%;
    font-size: 30px;
    border : 0px;
/*    border-bottom  :2px solid black;*/
    margin-left: 5%;
    outline: 0px;
        border-bottom: 0px solid black;

}

#cnt:focus-within{
    border-bottom: 2px solid black;
}
#sit{

    left : 0;

    width : 16.5%;
    font-size: 20px;
        margin-left: 5%;
    color : royalblue;
outline: 0px;
    border : 0px;
    transition: .5s;
}
#sit:focus{
        border-bottom : 2px solid black; 
    width : 16.5%;


}
.idk{
    border : 1px solid black;
    width : 50%;
    border-radius: 30px;
    padding  : 5px;
    margin-left: 5%;
}
#sit:empty{
    font-size: 20px;
/*    width : 16.5%;*/
}

#mady{
    border : 0px solid black;
    outline : none;
/*    border-radius: 20px*/
    color : Black;
    font-size: 20px;
    width : 15%;
    display : inline;
    margin-left: -8.1%;
    background: white;
    padding-left : 15px;
}


#cnt1{
    margin-top: 2vh;
    width : 90%;
    height : 10vh;
    font-size: 18px;
    border : 0px;
    resize: none;
/*    border-bottom  :2px solid black;*/
    margin-left: 5%;
    outline: 0px;
    transition: 2s;
/*        border-bottom: 5px solid gray;*/
    font-family: monospace;

}



#cnt1::-webkit-scrollbar{
    display : none;
}

#cnt1:focus{
    border-bottom: 2px solid black;
}

.send{
    width : 30%;
    border : 0.01px solid black;
    background: transparent;
    font-size: 23px;
    padding: 2vh;
    transition: .5s;
    display: none;
    position: absolute;
    bottom : 0;
    right : 0;
    margin: 2.5vh;
    background: #076aff;
        color : white;
    border : 0px;
    border-radius: 20px;
    display: block;
}



.hd{
    width : 95.1%;
   
    min-height: 55px;
    padding-left: 5%;
    background: white;
    position: absolute;
    top : 0;
        box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
     -webkit-animation-name : in-bottom;
    -webkit-animation-duration : 1s;
/*        -webkit-animation-delay : 2s;*/

}
.pp{
    position: absolute;
    right : 0;
    top: 0;
    margin: 5px;
    height : 35px;
    padding : 0.5vh;
    font-size: 24px;
    background: royalblue;
    color : white;
    border-radius: 35px;
    width  :35px;
    overflow: hidden;
    border : 2px solid royalblue;
}
#dat{
    margin-top: -18px;
    font-size: 13px;
    font-weight: 700;
    color : gray;
}

.ct{
    width : 120px;
    height : 20vh;
    background: royalblue;
    border-radius: 20px;
    display: inline-block;
    margin-left: 2vh;
}

.categories{
/*    margin-left: 6%;*/
    background: white;
    overflow-x: scroll;
    padding: 2vh;
    width : 100%;
    overflow: auto;
    white-space: nowrap;
        height : 20.6vh;

}
.opt{
/*    rgba(0,0,0,0.1)*/
    display : none;
    background: royalblue;
    position: absolute;
    z-index: 1;
    bottom : 0;
    right : 0;
    margin-bottom : 6vh;
    height : 20vh;
    margin-right: 100%;
    border-radius: 20px;
    transition: .5s ease-in-out;
/*    width : 29%;*/
/*    box-shadow: 0 3px 5px 2px black;*/
    -webkit-animation-name : in-height;
    -webkit-animation-duration : .1s;
/*    z-index: */
    color : white;
}

#icns{
    border : 1px solid lightgray;
    border-radius: 20px;
    padding : 1vh;
        color : white;

}

.addT{
    background: Transparent;
    border : 0px;
    font-size : 18px;
            color : white;
    margin-top: 2vh;
        width : 100%;
text-align: left;
}
.addC{
    background: Transparent;
    border : 0px;
    margin-top: 1.5vh;
    font-size : 18px;
    width : 100%;
                    color : white;

}
 .addT:hover  > #icns{
    color : black;
    border : 1px solid gray;
}
 .addT:hover{
    background: white;
     color : black;
}
 .addC:hover{
    background: white;
     color : black;
}
 .addC:hover  > #icns{
    color : black;
     border : 1px solid gray;
}
.categories::-webkit-scrollbar{
    display: none;
/*    background: white;*/
    border-radius: 1px;
}



.udi{
     -webkit-animation-name : in-right;
    -webkit-animation-duration : 1s;
}

.iemg{
   width :120%;
    height : 130%;
    margin-left: -10%;
    margin-top: -12%;
}

.ud{
   background: white;
    width : 88%;
    padding-top: 4vh;
        padding-bottom: 1vh;
        padding-left: 6%;
    position: absolute;
    margin-top: -5vh;
    border-top-left-radius: 40px;
        border-top-right-radius: 0px

}

.heading{
     background: white;
    width : 100%;
}


@media screen and (min-width : 900px){
    @media screen and (max-width : 1100px){
        .cate{
            margin-left: 25%;
        }
    }
}
@media screen and (min-width : 1100px){
    @media screen and (max-width : 1500px){
        .cate{
            margin-left: 30%;
        }
    }
}

@media screen and (max-width : 900px){
   .hd{
max-height : 5vh;
}
      #one{
    background: #7acbbd;
       box-shadow: 0px 170px 150px 10px #7acbbd;

}
#two{
    background: #805ad5;
     box-shadow: 0px 170px 150px 10px #805ad5;
}
#three{
    background: #ffb72b;
    box-shadow: 0px 170px 150px 10px #ffb72b;

}
#four{
    background: #eb4a86;
    box-shadow: 0px 170px 150px 10px #eb4a86;

 
    }
    .op{
        margin-top:-0px;
/*        font-size: 50px;*/
  }
    
    .categories{
 -webkit-animation-name : in-left;
    -webkit-animation-duration : 1s;
}

}

@media screen and (min-width : 900px){
     .categories{
 -webkit-animation-name : in-right;
    -webkit-animation-duration : 1s;
             -webkit-animation-delay : .1s;

}
         .iam{
 -webkit-animation-name : in-right-one;
    -webkit-animation-duration : .5s;
}
    
     #one{
    background: #7acbbd;
    margin-left: 100px; 
         transition :  .5s;
}
    
    #one:hover{
        margin-left: -10px;
    }
     #two:hover{
        margin-left: -10px;
    }
     #three:hover{
        margin-left: -10px;
    }
     #four:hover{
        margin-left: -10px;
    }
#two{
    background: #805ad5;
     margin-left: 100px; 
         transition :  .5s;
}
#three{
    background: #ffb72b;
     margin-left: 100px; 
         transition :  .5s;
    }
#four{
    background: hotpink;
     margin-left: 100px; 
         transition :  .5s;
}
    .hd{
        width : 20%;
        position: absolute;
        height : 10000px;
    }
    
    .iam{
        margin-left: 50%;
        width : 60%;
        margin-top: 0px;
        position: absolute;
        top : 0;
        height : 100vh;
        border-radius: 0px;
        z-index: 2;
        
    }
    
    .cate{
/*        margin-left: 30%;*/
        position: absolute;
        display : inline;
        top : 0;
/*                z-index: 3;*/

    }
    
    .ct{
        display : block;
        width : 300px;
        z-index: 1;
        margin-top: 2vh;
        box-shadow: 0px 0px black;
    }
    
    .categories{
        overflow: scroll;
        height : 98vh;
    }
    
    .udi{
        margin-top: 50vh;
    }
    
    .pp{
        width : 60%;
        height : 30vh;
        left: 0;
        position : absolute;
        margin-left: 15%;
        border-radius: 100%;
    }
    
    .op{
        margin-top: 30vh;
        font-size: 50px;
        line-height:6vh;
        position: absolute;
        left : 0;
        margin-left: 10%;
    }
    #ppp{
        font-size: 30px;
        color : dimgray;
        margin-left: 5%;
    }
    
    .task{
        width : 70%;
        height : 5vh;
      background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 34%, rgba(247,247,247,1) 53%, rgba(232,232,232,1) 61%, rgba(149,149,149,0.7091211484593838) 100%);
        color : black;
    }
}